/* src/main.css */
:root {
  --color-purple: #5f3c66;
  --color-red: #f88ba2;
  --color-green: #608a7b;
  --color-lightred: #efe0db;
  --color-lightgreen: #b3ccb2;
  --color-gray: #d9d9d9;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: rounaregular;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-purple);
  /* -webkit-font-smoothing: antialiased; */
}

h1,
.h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

.h1,
.h3,
.h4 {
  font-family: rounamedium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: rounamedium;
}

b,
strong {
  font-family: rounabold;
}

a {
  color: var(--color-purple);
}

.font-regular {
  font-family: rounaregular;
}
.font-medium {
  font-family: rounamedium;
  font-weight: 500;
}
.font-bold {
  font-family: rounabold;
  font-weight: 600;
}
.font-about {
  margin-bottom: 24px;
}

.margin-0 {
  margin: 0;
}
.container {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1125px;
  margin: 0 auto;
}

.colors {
  margin-bottom: 40px;
}
._color,
.color--small {
  height: 104px;
  width: 104px;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 38%) inset;
  border-radius: 4px;
  cursor: pointer;
}
.color--small {
  cursor: initial;
  height: 64px;
  width: 64px;
}
.color-box {
  display: flex;
  margin: 16px;
}
.color-boxes {
  display: flex;
  margin: 0 -16px 24px;
  flex-flow: row wrap;
}
.color-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 12px;
  min-width: 64px;
  max-width: 88px;
}

.color-use {
  display: flex;
}

.color-name {
  cursor: pointer;
}

_.color-name:hover {
  text-decoration: underline;
}

.unsecure-textarea {
  position: absolute;
  top: 50vh;
  left: -1000px;
  z-index: -10;
}

.toast {
  position: fixed;
  animation: toast 0.6s ease forwards;
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #00000059;
}

.label {
  display: block;
}
.font-about {
  display: flex;
  word-break: break-all;
}
.font-info {
  margin-right: 32px;
}

.app {
  margin-top: 24px;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.color {
  width: 20%;
  color: var(--color-lightred);
  padding: 24px 8px 24px 24px;
  border-radius: 16px;
  height: 280px;
  cursor: pointer;
}
.color-name {
  font-size: 20px;
}

.section {
  border-top: 1px solid var(--color-purple);
  padding-top: 80px;
  padding-bottom: 80px;
}
.logo,
.layout {
  display: flex;
}
.logo-description,
.layout-description {
  width: 25%;
  flex-shrink: 0;
  margin-right: 128px;
}
.logo-instance {
  display: flex;
  margin-bottom: 64px;
}
.logo-name {
  width: 25%;
}
.logo-img {
  margin: 0 auto;
  max-width: 100%;
  width: 480px;
  display: block;
  /* align-self: center; */
}
.footer {
  background-color: var(--color-lightgreen);
  margin-top: 192px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 38%) inset;
}
.footer-logo {
  max-width: 256px;
}

.font-large {
  font-size: 240px;
  line-height: 1;
}
.font-name {
  font-size: 64px;
  font-family: rounamedium;
}

.mb-1 {
  margin-bottom: 16px;
}
.mb-2 {
  margin-bottom: 24px;
}
.mb-3 {
  margin-bottom: 32px;
}
.app-title {
  margin: 128px 0 192px;
}

.font-sample {
  line-height: 1;
}
.fontsample {
  display: flex;
  margin-bottom: 24px;
}
.fontsample > *:first-child {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--color-purple);
  margin-right: 24px;
}
.fontsample-h4 {
  font-size: 24px;
}
.icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 6px;
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  h1,
  .h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4,
  .h4 {
    font-size: 18px;
  }
  .section {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .color {
    height: 128px;
    padding: 8px;
    font-size: 16px;
  }
  .color-name {
    font-size: 16px;
  }
  .color-box--fluid {
    width: auto;
  }
  .font-about {
    display: block;
  }
  .font-info {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .layout {
    display: block;
  }
  .layout-description {
    width: 100%;
    margin-bottom: 32px;
  }
  .font-large {
    font-size: 20vw;
  }
  .logo-instance {
    display: block;
    margin-bottom: 32px;
  }
  .logo-name {
    width: 100%;
  }
  .footer {
    margin-top: 64px;
  }
  .app-title {
    margin-top: 64px;
    margin-bottom: 80px;
  }
}
